.layout {
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.layout-body {
  display: flex;
  padding-top: 100px;
  width: 100%;
  margin: 0;
}

.main-content {
  flex: 1;
  padding: 1rem;
  /* min-height: calc(100vh - 100px); */
  transition: margin-left 0.3s ease;
  width: 100%;
}

@media (max-width: 850px) {
  .main-content {
    margin-left: 0 !important;
  }
}
